<h1>Show cocktail</h1>

<p>
 <strong>이름:</strong>
 <%= @cocktail.name %>
 <span class='parent-likes'>
  <span class="like_count" <%=@cocktail.id%>>
   <%= @cocktail.get_likes.size %> &#129505
  </span>
  
  <% if current_user %>
  <a>
   <% if current_user.voted_for? @cocktail %>
    <div> <%= link_to like_cocktail_path(@cocktail, 'unlike'), class: "hearted-btn", method: :put, remote: :true do %> Liked </div>
   <% end%>
   <% else %>
    <div> <%= link_to like_cocktail_path(@cocktail, 'like'), class: "heart-btn", method: :put, remote: :true do %> Like </div>
   <%end%>
   <%end%>
  </a>
  <% end %>
 </span>
</p>

<p>

 <img src = "/<%= @cocktail.image %>"></img>
</p>

<p>
 <strong>도수: </strong>
 <%= @cocktail.alcohol[1] %>단계
</p>
 <strong>레시피:</strong>
  <%= auto_link(safe_join(@cocktail.recipe.split("\n"), tag(:br))) %> 
</p>
<p>
 <strong>베이스:</strong>
 
 <% @cocktail.base.each do |base| %>
     <span><%= base %></span>
 <% end %>
 

</p>
 <strong>맛:</strong>
 <% @cocktail.flavor.each do |flavor| %>
     <span><%= flavor %></span>
 <% end %>
</p>
<p>
 <strong>태그:</strong>
 <% @cocktail.tags.each do |tag| %>
     <span><%= tag %></span>
 <% end %>
</p>
 <strong>기타 소개 정보:</strong>
  <%= auto_link(safe_join(@cocktail.information.split("\n"), tag(:br))) %> 
</p>
<p>
 <strong>당도:</strong>
 <%= @cocktail.sugar[1] %>단계
</p>

<%= link_to '칵테일 리스트', cocktails_path %>
<%= link_to '칵테일 검색', cocktails_search_path %>

<h2>리뷰를 남겨주세요</h2>
<%= render 'comments/form' %>

<h2><%= @cocktail.name %>에 대한 리뷰</h2>
<%= render @cocktail.comments %>