<h1>New Cocktail</h1>

<%= form_for :cocktail, url: cocktails_path do |f| %>

 <p>
 <%= f.label :name %><br>
 <%= f.text_field :name %>
 </p>
  <p>
 <%= f.label :alcohol %><br>
 <%= f.number_field :alcohol, step: 0.1 %>
 </p>
   <p>
 <%= f.label :sugar %><br>
 <%= f.number_field :sugar %>
 </p>
 <p>
 <%= f.label :recipe %><br>
 <%= f.text_area :recipe %>
 </p>
 <p>
 <%= f.label :base %><br>
 <%= f.text_field :base %>
 </p>
 <p>
 <%= f.label :flavor %><br>
 <%= f.text_field :flavor %>
 </p>
 <p>
 <%= f.label :tags %><br>
 <%= f.text_field :tags %>
 </p>
  <p>
 <%= f.label :information %><br>
 <%= f.text_area :information %>
 </p>
 
 <p>
 <%= f.submit %>
 </p>
 
<% end %>

<% if @cocktail.errors.any? %>
 <div id="error_explanation">
   <h2>
    <%= pluralize(@cocktail.errors.count, "error") %> 
    prohibited this cocktail from being saved:
   </h2>
 
   <ul>
    <% @cocktail.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
   </ul>
</div>
<% end %>

<%= link_to '칵테일 리스트', cocktails_path %>
<%= link_to '칵테일 검색', cocktails_search_path %>